<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_window/city_research</key>
            <dict>
                <key>frame</key>
                <string>{{1542,726},{330,216}}</string>
                <key>offset</key>
                <string>{-91,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,216}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_window/city_robot</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1058},{320,210}}</string>
                <key>offset</key>
                <string>{-91,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{320,210}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_window/color</key>
            <dict>
                <key>frame</key>
                <string>{{1028,726},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/color_change</key>
            <dict>
                <key>frame</key>
                <string>{{1760,960},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_window/craft</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/hero</key>
            <dict>
                <key>frame</key>
                <string>{{1762,514},{248,444}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,444}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ui_window/history</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{732,722}}</string>
                <key>offset</key>
                <string>{-11,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,49},{732,722}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>ui_window/items</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1894},{246,148}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{246,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_window/location</key>
            <dict>
                <key>frame</key>
                <string>{{516,1542},{434,452}}</string>
                <key>offset</key>
                <string>{-39,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{434,452}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/login</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{510,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{510,254}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_window/login_console</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1380},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_window/login_sub</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1754},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ui_window/main</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1024}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>ui_window/msg_big</key>
            <dict>
                <key>frame</key>
                <string>{{968,1240},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/msg_middle</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1474},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_window/msg_small</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{512,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ui_window/msg_small_system</key>
            <dict>
                <key>frame</key>
                <string>{{952,1754},{338,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,1},{338,122}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ui_window/repair</key>
            <dict>
                <key>frame</key>
                <string>{{952,1894},{502,122}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,122}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>ui_window/repair_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{444,316}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,95},{444,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/upgrade</key>
            <dict>
                <key>frame</key>
                <string>{{516,1028},{450,512}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{450,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_window_0.png</string>
            <key>size</key>
            <string>{2018,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3460cba233cc90ae770c82810070c6cf:43202021962c60be6a0e98dffe894fba:8ea1e92838bc7326ccf7f24b0f0536cd$</string>
            <key>textureFileName</key>
            <string>ui_window_0.png</string>
        </dict>
    </dict>
</plist>
