<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_window/city_insurance</key>
            <dict>
                <key>frame</key>
                <string>{{416,1720},{320,250}}</string>
                <key>offset</key>
                <string>{-90,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{320,250}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_window/city_shop</key>
            <dict>
                <key>frame</key>
                <string>{{1030,238},{338,222}}</string>
                <key>offset</key>
                <string>{-87,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,222}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_window/city_store_robots</key>
            <dict>
                <key>frame</key>
                <string>{{1030,908},{320,210}}</string>
                <key>offset</key>
                <string>{-91,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{320,210}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ui_window/clan</key>
            <dict>
                <key>frame</key>
                <string>{{2,1725},{412,316}}</string>
                <key>offset</key>
                <string>{-37,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{412,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/global_map</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{242,234}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_window/help</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{493,394}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{493,394}}</string>
                <key>sourceSize</key>
                <string>{495,396}</string>
            </dict>
            <key>ui_window/inventory_cargo</key>
            <dict>
                <key>frame</key>
                <string>{{318,1030},{188,290}}</string>
                <key>offset</key>
                <string>{-34,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,290}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ui_window/inventory_container</key>
            <dict>
                <key>frame</key>
                <string>{{668,1720},{187,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,312}}</string>
                <key>sourceSize</key>
                <string>{187,312}</string>
            </dict>
            <key>ui_window/inventory_inst</key>
            <dict>
                <key>frame</key>
                <string>{{398,1230},{488,458}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{488,458}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/map_frame</key>
            <dict>
                <key>frame</key>
                <string>{{857,1720},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_window/menu_game</key>
            <dict>
                <key>frame</key>
                <string>{{1030,754},{212,152}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{212,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_window/quest</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/repair_02</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{194,314}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{194,314}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ui_window/research</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/restore</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/robot</key>
            <dict>
                <key>frame</key>
                <string>{{610,1030},{184,202}}</string>
                <key>offset</key>
                <string>{-36,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_window/robot_tooltips</key>
            <dict>
                <key>frame</key>
                <string>{{858,1030},{168,256}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ui_window/teleport</key>
            <dict>
                <key>frame</key>
                <string>{{516,516},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/trade</key>
            <dict>
                <key>frame</key>
                <string>{{858,1288},{372,368}}</string>
                <key>offset</key>
                <string>{-63,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{372,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ui_window/trade_robot</key>
            <dict>
                <key>frame</key>
                <string>{{1030,578},{174,222}}</string>
                <key>offset</key>
                <string>{-41,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_window_1.png</string>
            <key>size</key>
            <string>{1274,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3460cba233cc90ae770c82810070c6cf:43202021962c60be6a0e98dffe894fba:8ea1e92838bc7326ccf7f24b0f0536cd$</string>
            <key>textureFileName</key>
            <string>ui_window_1.png</string>
        </dict>
    </dict>
</plist>
